<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="AppId" value="1377275862351427" xdt:Transform="Remove"/>
    <add key="AppSecret" value="6a2687da0b76009bd59e997e606dda8f"  xdt:Transform="Remove"/>
    <add xdt:Transform="Insert" key="AppId" value="511229525934677"/>
    <add xdt:Transform="Insert" key="AppSecret" value="eee2dda9dfd55da7aa1999222cd631c7"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" xdt:Transform="Replace" connectionString="Server=067ec073-bd6d-41c1-98b2-a783013fd0b5.sqlserver.sequelizer.com;Database=db067ec073bd6d41c198b2a783013fd0b5;User ID=iicshlqocrjzavqg;Password=Z8gjV6N5qdu7qxsLJNZ42L72zsojV7q6QQtuM7cvPjCogPrPwTuu8RvnaoSCRCis;"
      providerName="System.Data.SqlClient" />
    <add name="contactwebContext" xdt:Transform="Replace" connectionString="Server=067ec073-bd6d-41c1-98b2-a783013fd0b5.sqlserver.sequelizer.com;Database=db067ec073bd6d41c198b2a783013fd0b5;User ID=iicshlqocrjzavqg;Password=Z8gjV6N5qdu7qxsLJNZ42L72zsojV7q6QQtuM7cvPjCogPrPwTuu8RvnaoSCRCis;"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
